<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--appSettings configSource ="Configurations\Environment.config" /-->
  <appSettings>
    <add key="iCatiStg" value="https://stg.icati.dssresearch.com/"/>
    <add key="iCatiProd" value="http://icati.dssresearch.com/login/login.aspx"/>
    <add key="dsslive" value="http://www.dsslive.com/default.asp"/>
    <add key="OmniStg" value="https://stg.omni.dssresearch.com/webuser/login.aspx"/>
    <add key="OmniProd" value="http://omni.dssresearch.com/webuser/login.aspx"/>
    <add key="SapphireStg" value="https://sts-stg.dssresearch.com/adfs/ls/?wa=wsignin1.0&amp;wtrealm=https%3a%2f%2fstg-client.dssresearch.com"/>
    <add key="SapphireProd" value="https://sts.dssresearch.com/adfs/ls/?wa=wsignin1.0&amp;wtrealm=https%3a%2f%2fclient.dssresearch.com%2f&amp;wctx=rm%3d0%26id%3dpassive%26ru%3d%252fDefault.aspx&amp;wct=2016-08-03T14%3a18%3a47Z&amp;wreply=https%3a%2f%2fclient.dssresearch.com%2f"/>
    <add key ="OLRstg" value="https://stg2.dssresearch.com/apps/olr/"/>
    <add key ="OLRprod" value="https://www2.dssresearch.com/apps/olr/"/>
    <add key ="hhcahpsStg" value="https://stg2.dssresearch.com/apps/hhcahps/"/>
    <add key ="hhcahpsProd" value="https://www2.dssresearch.com/APPS/HHCAHPS/"/>
    <add key ="SSRSstg" value="http://ftw-sql-stg02/Reports_SSRS1/Pages/Folder.aspx"/>
    <add key ="SSRSprod" value="http://ftw-sql-prd03/Reports_SSRS1/Pages/Folder.aspx?"/>
    <add key ="SSRSdev" value="http://ftw-sql-dev01/Reports_SSRS1/Pages/Folder.aspx"/>
    <add key ="DssLive" value="https://www.dsslive.com/default.aspx"/>
    

  </appSettings>
</configuration>

